:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #213547;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

pre {
  overflow: hidden !important;
  code{ 
      display: inline-block;
      padding-bottom: 20px;
      position: relative;
      top: 20px;
  }
  &::before {
      content: "";
      position: absolute;
      background: red;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 10px;
      left: 15px;
      transform: translate(-50%);
  }
  &::after {
      content: "";
      position: absolute;
      background: sandybrown;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 10px;
      left: 30px;
      transform: translate(-50%);
  }
  code:first-child{
      &::after{
          content: "";
          position: absolute;
          background: limegreen;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: -24px;
          left: -7px;
          transform: translate(-50%);
      }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
